<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
   </head>
<body class="light">

 <div id="loader" >
</div>
<div id="app">
    <app-freshsidebar></app-freshsidebar>

    <script>
      /*
       *  Add sidebar classes (sidebar-mini sidebar-collapse sidebar-expanded-on-hover) in body tag
       *  you can remove this script tag and add classes directly to body
       *  this is only for demo
       */
      document.body.className += ' sidebar-mini' + ' sidebar-collapsex' + ' sidebar-expanded-on-hoverx';
    </script>
      <a    data-toggle="push-menu" class="paper-nav-toggle left ml-2 fixed">
          <i></i>
      </a>
    <div class="has-sidebar-left has-sidebar-tabs">
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                <div class="search-bar">
                    <input [(ngModel)] = "search1" class="col-md-12 transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                           placeholder="start typing...">
                </div>
                <a    data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
                   aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
            </div>
        </div>
    </div>
      <div class="sticky">
          <div class="navbar navbar-expand d-flex justify-content-between bd-navbar white shadow">
              <div class="relative">
                  <div class="d-flex">
                        <!-- <div class="w-80px ">
                                <img src="assets/img/basic/chipologo.png" alt="">
                            </div> -->
                      <div class="d-none d-md-block">
                          
                        <h1 class="nav-title float-left custom-margin-left-40" >Hub Stocks</h1>
                        <!-- <button type="button"  class="btn btn-danger btn-xs float-right custom-margin-top-10 custom-margin-left-30" data-toggle="modal" data-target="#modalAddHubstock">Add Hub Stock</button> -->
                      
                    </div>
                  </div>
              </div>
              <!--Top Menu Start -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
          <!-- Messages-->
          
          <!-- Notifications -->
          
          <li>
              <a class="nav-link " data-toggle="collapse" data-target="#navbarToggleExternalContent"
                 aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation">
                  <i class=" icon-search3 "></i>
              </a>
          </li>
        
          <li class="dropdown custom-dropdown user user-menu ">
              
              <div class="dropdown-menu p-4 dropdown-menu-right">
                  
                  
                  <hr>
                  <div class="row box justify-content-between my-4">
                      
                  </div>
              </div>
          </li>
      </ul>
    </div>
          </div>
      </div>
    </div>

    <div class="has-sidebar-left has-sidebar-tabs">
        <div class="content-wrapper animatedParent animateOnce">

            <div *ngIf="loading == true">
                <img src="assets/img/basic/loader2.gif" alt="" class="load" >
                
            </div>

          <div *ngIf="loading == false" class="container">
              <section class="paper-card">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="box">
                              <div class="box-header with-border">
                                  <h3  *ngIf="hubstockflag == true" class="box-title float-left">Hub Stock </h3>
                                  
                              </div>
              
                              <!-- /.box-header -->
                              <div class="box-body table-responsive no-padding my-3">
                                  <i *ngIf="hubstockflag == false" class="icon-note-important s-64 text-primary"></i>
                                  <h4 class="my-3" *ngIf="hubstockflag == false">No Hub Stocks Found</h4>

                                    <!-- <div  *ngIf="hubstockflag == true" class="col-md-6 custom-padding-left-0" >
                                            <div class="form-group col-md-8 custom-margin-top-10 custom-padding-left-0" >
                                                    <label class="float-left">Select Order Type </label>
                                                    <select  [(ngModel)] = "selectedorder" (ngModelChange)="getproductbyordertype()"  class="custom-select r-0 " required>
                                                        <option value disabled>All Orders</option>
                                                        <option value="1">Preorder</option>
                                                        <option value="2">Open Stock</option>
                                                    </select>
                                                    
                                                </div></div> -->

                                  <table  *ngIf="hubstockflag == true" class="table table-bordered mt-3">
                                      <tbody>
                                      <!-- <tr>
                                          <th class="custom-width-10">#</th>
                                          <th>Products </th>
                                          <th>Quantity </th>
                                          <th>Order Type </th>
                                          <th class="custom-width-10">Actions</th>
                                      </tr> -->

                                      <tr>
                                        <th class="custom-width-10">#</th>
                                        <th (click)="sort('productname')">Products
                                        <span class="icon-sort" *ngIf="key =='productname'" [ngClass]="{'icon-sort-asc':reverse == false,'icon-sort-down':reverse==true}"></span>
                                      </th>
                                      <th (click)="sort('preorder')">Pre Order
                                        <span class="icon-sort" *ngIf="key =='preorder'" [ngClass]="{'icon-sort-asc':reverse,'icon-sort-down':!reverse}"></span>
                                 
                                    </th>
                                        <th (click)="sort('quantity')">Hub Stock
                                            <span class="icon-sort" *ngIf="key =='quantity'" [ngClass]="{'icon-sort-asc':reverse,'icon-sort-down':!reverse}"></span>
                                        </th>
                                 
                                        <!-- <th class="custom-width-10">Actions</th> -->
                                    </tr>


                                      <tr *ngFor = "let stock of hubStock | search : search1 | orderBy: key : reverse | paginate: { itemsPerPage: 15, currentPage: p };let i=index;">
                                        <td>{{i+1}}</td>
                                        <td>{{stock.productname | titlecase }} </td>
                                        <td>{{ stock.preorder }}</td>
                                        <td>{{stock.quantity }}</td>
                                        <!-- <td>{{stock.stocktypename | titlecase }}</td> -->
                                        
                                        <!-- <td><a data-toggle="modal" data-target="#modalEditHub"><i class="icon-eye s-18 mr-3"></i></a>
                                            <a class=" "><i class="icon-delete_sweep s-18"></i></a></td> -->
                                  
                                            <!-- <td><a (click)="gethubstockbyID(stock.hubsstocksid)" data-toggle="modal" data-target="#modalEditHubStock"><i class="icon-mode_edit s-18 mr-3"></i></a>
                                                <a (click) = "deletehubstock(stock.hubsstocksid)" ><i class="icon-delete_sweep s-18"  mwlConfirmationPopover
                                                  [popoverTitle]="popoverTitle"
                                                  [popoverMessage]="popoverMessage"
                                                  placement="left"
                                                  (confirm)="confirmClicked = true"
                                                  (cancel)="cancelClicked = true"></i></a></td> -->

                                      </tr>   
                                      <!-- <tr *ngIf="order == '1' || order == ''" >
                                            <td>1.</td>
                                            <td>Chips</td>
                                            <td>12</td>
                                          <td>Pre-Order</td>
                                            <td><a data-toggle="modal" data-target="#modalEditHub"><i class="icon-eye s-18 mr-3"></i></a>
                                            <a class=" "><i class="icon-delete_sweep s-18"></i></a></td>
                                      </tr>  
                                      <tr *ngIf="order == '2' || order == ''" >
                                        <td>2.</td>
                                        <td>Halwa</td>
                                        <td>30</td>
                                      <td>Open Stock </td>
                                      <td><a data-toggle="modal" data-target="#modalEditHub"><i class="icon-eye s-18 mr-3"></i></a>
                                        <a class=" "><i class="icon-delete_sweep s-18"></i></a></td> -->

                                  <!-- </tr>     -->
                                      </tbody>
                                  </table>
                              </div>
                              <!-- /.box-body -->
                              <!-- <div class="box-footer clearfix">
                                  <ul class="pagination pagination-sm no-margin float-right">
                                      <li class="page-item"><a    class="page-link">&#xAB;</a>
                                      </li>
                                      <li class="page-item"><a    class="page-link">1</a>
                                      </li>
                                      <li class="page-item"><a    class="page-link">2</a>
                                      </li>
                                      <li class="page-item"><a    class="page-link">3</a>
                                      </li>
                                      <li class="page-item"><a    class="page-link">&#xBB;</a>
                                      </li>
                                  </ul>
                              </div> -->
                          </div>
               
                      </div>
  
                  </div>      
                  <div   *ngIf="hubstockflag == true" class="custom-text-align-right" >
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>       
              </section>
          </div>
      </div>


</div>
</div>
<div class="modal fade" id="modalAddHubstock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-left">
        <h4 class="modal-title w-100 font-weight-bold">Add Hub Stock</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form ">
          <div class="input-container">
          <i class="fab fa-product-hunt prefix  input-icon"></i>
          <!-- <input type="text" id="form3"  class="form-control validate input" placeholder="Name"> -->
          <select  [(ngModel)] = "selectedproduct" style="font-weight:300" class="custom-select r-0 selectmodal custom-margin-left-13" required>
                <option value disabled>Select Product </option>
                <option *ngFor = " let product of products | orderBy : 'name'"  [value]="product.productsid" >{{ product.name | titlecase }}</option>
            </select>

  



          </div>
        <div id="hubstock_product_error"></div> 
        </div>
        <div class="md-form ">
                <div class="input-container">
                <i class="fas fa-box prefix  input-icon"></i>
                <!-- <input type="text" id="form3"  class="form-control validate input" placeholder="Name"> -->
                <select  [(ngModel)] = "selectedstocktype" style="font-weight:300" class="custom-select r-0 selectmodal custom-margin-left-13" required>
                      <option value disabled>Select Order Type </option>
                      <option *ngFor = " let stocktype of stocktypes" [value]="stocktype.stockstypesid" >{{ stocktype.name | titlecase }}</option>
                  </select>
                </div>
              <div id="hubstock_ordertype_error"></div> 
              </div>
        <div class="md-form ">
                <div class="input-container">
                <i class="fas fa-map-pin prefix  input-icon"></i>
                <input type="text" style="margin-left:26px;" [(ngModel)]="quantity" class="form-control validate input" placeholder="Position">
                </div>
              <div id="hubstock_quantity_error"></div> 
              </div>      
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="custom-color-white btn btn-info btn-sm" (click)="addhubstock()" >Add Hub Stock</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalEditHubStock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-left">
        <h4 class="modal-title w-100 font-weight-bold">Edit Hub Stock</h4>
        <button type="button" id="editclose" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form ">
          <div class="input-container">
          <i class="fab fa-product-hunt prefix  input-icon"></i>
          <!-- <input type="text" id="form3"  class="form-control validate input" placeholder="Name"> -->
          <select  [(ngModel)] = "selectedproduct" style="font-weight:300" class="custom-select r-0 selectmodal custom-margin-left-13" required>
                <option value disabled>Select Product </option>
                <option *ngFor = " let product of products" [value]="product.productsid" >{{ product.name | titlecase }}</option>
            </select>
          </div>
        <div id="hubstock_product_error"></div> 
        </div>
        <div class="md-form ">
                <div class="input-container">
                <i class="fas fa-box prefix  input-icon"></i>
                <!-- <input type="text" id="form3"  class="form-control validate input" placeholder="Name"> -->
                <select  [(ngModel)] = "selectedstocktype" style="font-weight:300" class="custom-select r-0 selectmodal custom-margin-left-13" required>
                      <option value disabled>Select Order Type </option>
                      <option *ngFor = " let stocktype of stocktypes" [value]="stocktype.stockstypesid" >{{ stocktype.name | titlecase }}</option>
                  </select>
                </div>
              <div id="hubstock_ordertype_error"></div> 
              </div>
        <div class="md-form ">
                <div class="input-container">
                <i class="fas fa-map-pin prefix  input-icon"></i>
                <input type="text" style="margin-left:26px;" [(ngModel)]="quantity" class="form-control validate input" placeholder="Position">
                </div>
              <div id="hubstock_quantity_error"></div> 
              </div>      
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="custom-color-white btn btn-info btn-sm" (click)="edithubstock()" >Edit Hub Stock</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>