<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>
   </head>
<body class="light">

 <div id="loader" >
</div>
<div id="app">
    <app-adminsidebar></app-adminsidebar>

    <script>
      /*
       *  Add sidebar classes (sidebar-mini sidebar-collapse sidebar-expanded-on-hover) in body tag
       *  you can remove this script tag and add classes directly to body
       *  this is only for demo
       */
      document.body.className += ' sidebar-mini' + ' sidebar-collapsex' + ' sidebar-expanded-on-hoverx';
    </script>
      <a    data-toggle="push-menu" class="paper-nav-toggle left ml-2 fixed">
          <i></i>
      </a>
    <div class="has-sidebar-left has-sidebar-tabs sticky">
      <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
              <div class="search-bar">
                  <input [(ngModel)] = "search1" class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                         placeholder="start typing...">
              </div>
              <a    data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
                 aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
          </div>
      </div>
    </div>
      <div class="sticky">
          <div class="navbar navbar-expand d-flex justify-content-between bd-navbar white  shadow">
              <div class="relative">
                  <div class="d-flex">
                        <!-- <div class="w-80px ">
                                <img src="assets/img/basic/chipologo.png" alt="">
                            </div> -->
                      <div class="d-none d-block">
                          <h1 class="nav-title float-left custom-margin-left-40">Products</h1>
                                   
                          <!-- <button type="button" style="margin-top:10px;margin-left:30px;" class="btn btn-danger btn-xs float-right" data-toggle="modal" data-target="#modalAddProduct">Add Product</button> -->
                        
                      </div>
                  </div>
              </div>
              <!--Top Menu Start -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
          <!-- Messages-->
          
          <!-- Notifications -->
          
          <li>
              <a class="nav-link " data-toggle="collapse" data-target="#navbarToggleExternalContent"
                 aria-controls="navbarToggleExternalContent"
                 aria-expanded="false" aria-label="Toggle navigation">
                  <i class=" icon-search3 "></i>
              </a>
          </li>
        
          <li class="dropdown custom-dropdown user user-menu ">
              
              <div class="dropdown-menu p-4 dropdown-menu-right">
                  
                  
                  <hr>
                  <div class="row box justify-content-between my-4">
                      
                  </div>
              </div>
          </li>
      </ul>
    </div>
          </div>
      </div>
    </div>

    <div class="has-sidebar-left has-sidebar-tabs">      
        <div class="content-wrapper animatedParent animateOnce">
            <div *ngIf="loading == true">
                <img src="assets/img/basic/loader2.gif" alt="" class="load" >
                
            </div>

          <div *ngIf="loading == false" class="container">
                <section class="paper-card">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title float-left mb-3">List of Products </h3>
                                    <!-- <button class="btn btn-primary btn-xs float-right mb-3 custom-margin-right-10"(click)="exportAsXLSX()"><i class="icon icon-file-excel-o" ></i>Export to xls</button> -->
                         
                                </div>
                                <button type="button"  class="btn btn-primary btn-xs float-right custom-margin-right-10" data-toggle="modal" data-target="#modalAddProduct">Add New Product</button>
                        
                                <!-- /.box-header -->
                                <div class="box-body table-responsive no-padding my-3">
                                    <table class="table table-bordered ">
                                        <tbody>
                                        <!-- <tr>
                                            <th class="custom-width-10">#</th>
                                            <th>Name</th>
                                            <th>Unit</th>
                                            <th>HSN Code</th>
                                            <th>Barcode</th>
                                            <th>GST-PRC</th>
                                            <th>Product-WRate</th>
                                            <th>Product-MRP</th>
                                            <th>Actions</th>
                               
                                        </tr> -->
                                        <tr>
                                            <th class="custom-width-10">#</th>
                                            <th (click)="sort('name')">Name
                                            <span class="icon-sort" *ngIf="key =='name'" [ngClass]="{'icon-sort-asc':reverse == false,'icon-sort-down':reverse==true}"></span>
                                          </th>
                                          <th (click)="sort('pack')">Pack
                                            <span class="icon-sort" *ngIf="key =='pack'" [ngClass]="{'icon-sort-asc':reverse,'icon-sort-down':!reverse}"></span>
                                        </th>
                                            <th (click)="sort('unit')">Unit
                                                <span class="icon-sort" *ngIf="key =='unit'" [ngClass]="{'icon-sort-asc':reverse,'icon-sort-down':!reverse}"></span>
                                            </th>
                                            <th (click)="sort('hsn_code')">HSN Code
                                                <span class="icon-sort" *ngIf="key =='hsn_code'" [ngClass]="{'icon-sort-asc':reverse,'icon-sort-down':!reverse}"></span>
                                         
                                            </th>
                                            <th (click)="sort('barcode')">Barcode
                                                <span class="icon-sort" *ngIf="key =='barcode'" [ngClass]="{'icon-sort-asc':reverse,'icon-sort-down':!reverse}"></span>
                                         
                                            </th>
                                            <th (click)="sort('cgst_perc')">CGST %
                                                <span class="icon-sort" *ngIf="key =='cgst_perc'" [ngClass]="{'icon-sort-asc':reverse,'icon-sort-down':!reverse}"></span>
                                         
                                            </th>
                                            <th (click)="sort('sgst_perc')">SGST %
                                              <span class="icon-sort" *ngIf="key =='sgst_perc'" [ngClass]="{'icon-sort-asc':reverse,'icon-sort-down':!reverse}"></span>
                                       
                                          </th>
                                            <th (click)="sort('wrate')">WRate
                                                <span class="icon-sort" *ngIf="key =='wrate'" [ngClass]="{'icon-sort-asc':reverse,'icon-sort-down':!reverse}"></span>
                                         
                                            </th>
                                            <th (click)="sort('mrp')">MRP
                                                <span class="icon-sort" *ngIf="key =='mrp'" [ngClass]="{'icon-sort-asc':reverse,'icon-sort-down':!reverse}"></span>
                                         
                                            </th>
                                            <th class="custom-width-10">Actions</th>
                                        </tr>

                                        <tr *ngFor = " let product of products | search : search1 | orderBy: key : reverse | paginate: { itemsPerPage: 15, currentPage: p };let i = index">
                                              <td>{{i+1}}</td>
                                              <td>{{product.name  | titlecase}}</td>
                                              <td>{{ product.pack }}</td>
                                              <td>{{product.unit  }}</td>
                                              <td>{{product.hsn_code }}</td>
                                              <td *ngIf="product.barcode.trim().length > 0">{{product.barcode }}</td>
                                              <td *ngIf="product.barcode.trim().length == 0">NULL</td>
                                              <td>{{product.cgst_perc }}</td>
                                              <td>{{product.sgst_perc }}</td>
                                              <td>{{product.wrate }}</td>
                                              <td>{{product.mrp }}</td>
                                              <td><a (click) = "getProductbyID(product.productsid)" data-toggle="modal" data-target="#modalEditProduct"><i class="icon-mode_edit s-18 mr-3"></i></a>
                                                <a (click) = "deleteProduct(product.productsid)" ><i class="icon-delete_sweep s-18"  mwlConfirmationPopover
                                                  [popoverTitle]="popoverTitle"
                                                  [popoverMessage]="popoverMessage"
                                                  placement="left"
                                                  (confirm)="confirmClicked = true"
                                                  (cancel)="cancelClicked = true"></i></a></td>                                        </tr>   
                                        <!-- <tr>
                                            <td>1.</td>
                                            <td>abc</td>
                                            <td>pkt</td>
                                            <td>123123123</td>
                                            <td>2342342543454363</td>
                                            <td>12</td>
                                            <td>67</td>
                                            <td>100</td>
                                            </tr> 
                                      <tr>
                                        <td>2.</td>
                                        <td>abc</td>
                                        <td>pkt</td>
                                        <td>123123123</td>
                                        <td>2342342543454363</td>
                                        <td>12</td>
                                        <td>67</td>
                                        <td>100</td>
                                       </tr>   
                                  <tr>
                                    <td>3.</td>
                                    <td>abc</td>
                                    <td>pkt</td>
                                    <td>123123123</td>
                                    <td>2342342543454363</td>
                                    <td>12</td>
                                    <td>67</td>
                                    <td>100</td>
                                   </tr>   
                              <tr>
                                <td>4.</td>
                                <td>abc</td>
                                <td>pkt</td>
                                <td>123123123</td>
                                <td>2342342543454363</td>
                                <td>12</td>
                                <td>67</td>
                                <td>100</td>
                               </tr>       -->
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                                <!-- <div class="box-footer clearfix">
                                    <ul class="pagination pagination-sm no-margin float-right">
                                        <li class="page-item"><a    class="page-link">&#xAB;</a>
                                        </li>
                                        <li class="page-item"><a    class="page-link">1</a>
                                        </li>
                                        <li class="page-item"><a    class="page-link">2</a>
                                        </li>
                                        <li class="page-item"><a    class="page-link">3</a>
                                        </li>
                                        <li class="page-item"><a    class="page-link">&#xBB;</a>
                                        </li>
                                    </ul>
                                </div> -->
                            </div>
                 
                        </div>
    
                    </div>   
                    <div class="custom-text-align-right" >
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>        
                </section>
            </div>
        </div>
</div>
</div>

<div class="modal fade" id="modalAddProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-left">
        <h4 class="modal-title w-100 font-weight-bold">Add Product</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form">
          <div class="input-container">
          <i class="fas fa-user prefix  input-icon"></i>
          <input  type="text" [(ngModel)]="name" id="name"  class="form-control validate input custom-margin-left-21" placeholder="Name">
          </div>
        <div id="product_name_error"></div> 
        </div>

        <div class="md-form">
          <div class="input-container">
                <i class="icon-th-list prefix input-icon "></i>
          
          <input type="text" [(ngModel)]="unit" id="unit"  class="form-control validate input  pin" placeholder="Unit">
            
        </div>
        <div id="product_unit_error"></div>     
        </div>
        <div class="md-form">
                <div class="input-container">
                        <i class="icon-blur_on prefix input-icon"></i>
                <input type="text" [(ngModel)]="hsnCode" id="hsnCode"  class="form-control validate input" placeholder="Hsn Code">
                     
            </div>
            <div id="product_hsnCode_error"></div> 
        </div>
        <div class="md-form ">
          <div class="input-container">
          <i class="icon-barcode prefix  input-icon"></i>
          <input type="text" [(ngModel)]="barcode" id="barcode" class="form-control validate input" placeholder="Barcode">
          </div>
        <div id="product_barcode_error"></div> 
        </div>
        <div class="md-form ">
          <div class="input-container">
          <i class="icon-note-list2 prefix  input-icon"></i>
          <input type="text" [(ngModel)]="gstprc" id="gstprc"  class="form-control validate input" placeholder="Gst-Prc">
          </div>
        <div id="product_gstprc_error"></div> 
        </div>
        <div class="md-form ">
            <div class="input-container">
            <i class="icon-border_color prefix  input-icon"></i>
            <input type="text" [(ngModel)]="prodWrate" id="prodWrate"  class="form-control validate input" placeholder="Prod-Wrate">
            </div>
          <div id="product_prodWrate_error"></div> 
          </div>
          <div class="md-form ">
            <div class="input-container">
            <i class="icon-rupee prefix input-icon-left"></i>
            <input type="text" [(ngModel)]="prodmrp"  id="prodmrp"  class="form-control validate input" placeholder="Prod-Mrp">
            </div>
          <div id="product_prodmrp_error"></div> 
          </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="addNewProduct()" class="btn btn-info btn-sm" >Add Product</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalEditProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-left">
      <h4 class="modal-title w-100 font-weight-bold">Edit Product</h4>
      <button type="button" id="editclose" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <div class="md-form">
        <div class="input-container">
        <i class="fas fa-user prefix  input-icon"></i>
        <input  type="text" [(ngModel)]="name" id="name"  class="form-control validate input custom-margin-left-21" placeholder="Name">
        </div>
      <div id="productEdit_name_error"></div> 
      </div>

      <div class="md-form">
        <div class="input-container">
              <i class="icon-th-list prefix input-icon "></i>
        
        <input type="text" [(ngModel)]="unit" id="unit"  class="form-control validate input  pin" placeholder="Unit">
          
      </div>
      <div id="productEdit_unit_error"></div>     
      </div>
      <div class="md-form">
              <div class="input-container">
                      <i class="icon-blur_on prefix input-icon"></i>
              <input type="text" [(ngModel)]="hsnCode" id="hsnCode"  class="form-control validate input" placeholder="Hsn Code">
                   
          </div>
          <div id="productEdit_hsnCode_error"></div> 
      </div>
      <div class="md-form ">
        <div class="input-container">
        <i class="icon-barcode prefix  input-icon"></i>
        <input type="text" [(ngModel)]="barcode" id="barcode" class="form-control validate input" placeholder="Barcode">
        </div>
      <div id="productEdit_barcode_error"></div> 
      </div>
      <div class="md-form ">
        <div class="input-container">
        <i class="icon-note-list2 prefix  input-icon"></i>
        <input type="text" [(ngModel)]="gstprc" id="gstprc"  class="form-control validate input" placeholder="Gst-Prc">
        </div>
      <div id="productEdit_gstprc_error"></div> 
      </div>
      <div class="md-form ">
          <div class="input-container">
          <i class="icon-border_color prefix  input-icon"></i>
          <input type="text" [(ngModel)]="prodWrate" id="prodWrate"  class="form-control validate input" placeholder="Prod-Wrate">
          </div>
        <div id="productEdit_prodWrate_error"></div> 
        </div>
        <div class="md-form ">
          <div class="input-container">
          <i class="icon-rupee prefix input-icon-left"></i>
          <input type="text" [(ngModel)]="prodmrp"  id="prodmrp"  class="form-control validate input" placeholder="Prod-Mrp">
          </div>
        <div id="productEdit_prodmrp_error"></div> 
        </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button (click)="editProduct()" class="btn btn-info btn-sm" >Edit Product</button>
    </div>
  </div>
</div>
</div>

</body>
</html>