.nav-material>li>.nav-link.active {
    color: #606676;
}
.nav-material>li .nav-link.active {
    border: 0;
    background: 0 0;
    border-bottom: 3px solid  #606676;
}

.nav-material>li>a::after {
    content: "";
    background: #ffffff;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transition: all 250ms ease 0s;
    transform: scale(0);
}